* {
	margin: 0;
}

html, body {
	height: 100%;
	font-family: 'Crimson Text', arial, serif;
}

body {
	background: white;
	text-align: center;
}

div#se_solovyev_img {
	text-align: center;
	padding: 0 0 0 0;
	margin: 0 0 0 0;
}

.nohover a:hover {
	background-color: transparent;
}

a:hover {
	text-decoration: underline;
}

a {
	outline: 0;
	text-decoration: none;
}

a, a:visited {
	color: #3b1907;
	cursor: pointer;
	outline: medium none;
}

a.slided {
	text-decoration: none;
	border-width: 0 0 1px 0;
	border-style: none none dashed none;
}

div#header {
	height: 200px;
}

div#se_solovyev {
	font-size: 80pt;
	letter-spacing: -10px;
	background: white url("../images/coffee_stain.jpg") no-repeat 80%;
	border: 0;
}

div#footer {
	clear: both;
	color: #777777;
	padding:1em;
	width: 100%;
}

#footer a {
	color: #777777;
}

#content {
	width: 880px;
	margin: auto;
}

#content dl {
	clear: left;
	margin: 0 0 0;
	padding: 0;
	height: auto;
}

#content dl dt {
	color: #666666; /*	color: #571203;*/
	clear: left;
	float: left;
	font-weight: bold;
	margin: 0;
	padding: 0 0.5em 0 0;
	text-align: right;
	width: 11em;
}

#content dl dt.work_date {
    color: #cccccc;
}

h1, h2, h3 {
	padding: 0 0 0 202px;
	text-align: left;
}

#content dl{
    width: 880px;
}

#content dl dd {
	margin: 0 0 0 190px;
	padding: 0 0 7px 12px;
	text-align: justify;
}

#content dl dd .text {
    text-align: justify;
}

h1, h2, h3 {
	clear: both;
	padding-bottom: 0.5em;
	padding-top: 0.5em;
}

h1 {
	color: #3b1907;
	font-size: 3em;
}

h2 {
	font-size: 2em;
}

#face {
	margin-left: 20px;
}

.right {
	float: left;
}

.left {
	float: left;
}

.languages_list li.language {
	margin-bottom: 1em;
}

#java_exp_countdown {
	background-color: transparent;
	border: 0;
}

.s_0 {
	font-family: "Ume Gothic S5", sans-serif;
}

.e_0 {
	font-family: "Arial Black", serif;
}

.dot {
}

.s_1 {
	font-family: "Liberation Mono", monospace;
}

.o_0 {
	font-family: "FreeMono", monospace;
}

.l {
	font-family: "Arial Black", serif;
}

.o_1 {
	font-family: "Loma", serif;
}

.v_0 {
	font-family: "Purisa", serif;
}

.y {
	font-family: "Arial Black", serif;
}

.e_1 {
	font-family: "URW Chancery L", serif;
}

.v_1 {
	font-family: "URW Gothic L", sans-serif;
}

.source_example_title {
    font-weight: bold;
}

.documentation {
    background-color: #eeeeee;
    font-family: monospace;
}

.source_link {
    font-weight: bold;
}